<div class="container">
  <h1>Pruebas a servicio</h1>
  
  <h2>Posts obtenidos (que no este vacío)</h2>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let post of posts | slice:0:5" (click)="selectPost(post)">
      {{ post.id }}. {{ post.title }}
    </li>
  </ul>
  
  <h2>Post obtenido por id</h2>
  <div *ngIf="posts">
    <h3>{{ post.id }}. {{ post.title }}</h3>
    <p>{{ post.body }}</p>
  </div>
  
  <h2>Comentarios obtenidos que no este vacío</h2>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let comment of comments | slice:0:3">
      <h5>{{ comment.name }}</h5>
      <p>{{ comment.body }}</p>
      <small>{{ comment.email }}</small>
    </li>
  </ul>
</div>
